<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Практика 3ІПЗ-20</title>
</head>
<body>
<h1> Вітаю на практиці </h1><hr>
<h4> Реєстрація</h4>
<form action="/registration" method="post">
  Ім`я продавця: <input type="text" name="name"> <br><br>
  e-mail: <input type="email" name="email"> <br><br>
  Номер телефону: <input type="text" name="numberPhone"> <br><br>
  Пароль: <input type="password" name="password"> <br><br>
<!--    <input type="hidden" name="$_csrf." value="${_csrf.token}"/>-->
  <input type="submit" value="Зареєструватися">
</form>

</body>
</html>